<!DOCTYPE html>
<html>
  <head>
    <title>Dogs That Are Good Boys</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <nav class="navbar navbar-dark bg-dark">
  <a class="navbar-brand active" href="/">Home</a>
  <a class="navbar-brand" href="names">Names</a>
  <a class="navbar-brand" href="snacks">Snacks</a>
  <a class="navbar-brand" href="breeds">Breeds</a>
  <a class="navbar-brand" href="goodboys">Good Boys</a>
  </nav>
    <%= yield %>
  </body>
</html>
